
#main{
    font-family: "Raleway", sans-serif;
    padding: 40px 0px;
    min-height: calc(100vh-110vh);
}
h2{
    background-color: #fefefd;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -40px;
    padding: 15px;
    color:  #5cb85c;
}
hr{
    border: 0;
    border-bottom: 3px solid gray;
    margin: 10px 30px;
}

#login{
    width: 80%;
    border-radius: 10px;
    font-family: Raleway;
    border:  2px solid #ccc;
    padding: 10px 40px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label.general{
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 20px;
}